
@function clampCalculate($min, $max) {
    $ratio: calc($max / 1440) * 100; // Calculate ratio based on 1440px viewport width
    $vw: vw;
    $px: px;
  
    @return clamp(#{$min}#{$px}, #{$ratio}#{$vw}, #{$max}#{$px});
  }
  